In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("Ecommerce Purchases.csv")

In [ ]:
data.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
data['Purchase Price'].min()

0.0

In [ ]:
data['Purchase Price'].max()

99.99

In [ ]:
data['Purchase Price'].mean()

50.34730200000025

In [ ]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
data['Browser Info'].value_counts()

Mozilla/5.0 (compatible; MSIE 9.0; Windows CE; Trident/4.1)                                                             12
Mozilla/5.0 (compatible; MSIE 5.0; Windows NT 6.0; Trident/3.0)                                                         12
Mozilla/5.0 (compatible; MSIE 9.0; Windows 95; Trident/4.1)                                                             12
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.2; Trident/3.1)                                                         12
Mozilla/5.0 (compatible; MSIE 8.0; Windows CE; Trident/5.0)                                                             11
                                                                                                                        ..
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5311 (KHTML, like Gecko) Chrome/15.0.870.0 Safari/5311                          1
Mozilla/5.0 (Windows; U; Windows NT 6.1) AppleWebKit/534.35.5 (KHTML, like Gecko) Version/5.0.5 Safari/534.35.5          1
Mozilla/5.0 (X11; Linux i686) AppleWebKit/5311 (KHTML, like Gecko) Chrome/14.0.812.0 Safari/5311                         1
Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_2) AppleWebKit/5330 (KHTML, like Gecko) Chrome/15.0.884.0 Safari/5330     1
Mozilla/5.0 (Windows; U; Windows NT 6.1) AppleWebKit/532.30.7 (KHTML, like Gecko) Version/4.0 Safari/532.30.7            1
Name: Browser Info, Length: 8287, dtype: int64

In [ ]:
data[data['Purchase Price']==data['Purchase Price'].min()]['Company']

2876    Lyons, Diaz and Clark
5487           Flynn and Sons
Name: Company, dtype: object

In [ ]:
data[data['Purchase Price']==data['Purchase Price'].max()]['Company']

2092                  Pitts Group
7807    Porter, Johnson and Pratt
Name: Company, dtype: object

In [ ]:
data[data['Purchase Price']==data['Purchase Price'].min()]['Job']

2876    Biomedical scientist
5487           Stage manager
Name: Job, dtype: object

In [ ]:
data[data['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [ ]:
data['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
                                 ..
Stage manager                     7
Actuary                           6
Editor, film/video                6
Investment analyst                5
Information systems manager       5
Name: Job, Length: 623, dtype: int64

In [ ]:
data['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [ ]:
data[['Company','Purchase Price']].sort_values(by='Purchase Price').head()

                    Company  Purchase Price
5487         Flynn and Sons            0.00
2876  Lyons, Diaz and Clark            0.00
6863     Sanchez-Stephenson            0.01
8656          Armstrong PLC            0.02
2783           Wagner Group            0.02

In [ ]:
data[['Job','Purchase Price']].sort_values(by='Purchase Price',ascending = False).head()

                             Job  Purchase Price
2092      Surveyor, hydrographic           99.99
7807         Surveyor, insurance           99.99
9856               Site engineer           99.97
7604     Teacher, primary school           99.95
3844  Television camera operator           99.93